.picker {
  display: block;
  margin: 20px;
  width: 180px;
  height: 100px;
}
.picker-hero {
  float: left;
  position: relative;
  width: 100px;
  height: 100px;
  background-color: silver;
}
.picker-hero--name, .picker-hero--role {
  position: absolute;
  text-align: center;
}
.picker-hero--name {
  top: 0px;
}
.picker-hero--role {
  bottom: 0px;
}
.picker-hero--portrait {
  position: absolute;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.picker-hero--portrait img {
  width: 100px;
}
.picker-player {
  float: left;
  width: 80px;
  height: 100px;
  background-color: gray;
}